In [19]:
import pandas as pd
import matplotlib
import sklearn
import requests
import io
from bs4 import BeautifulSoup

In [20]:
url = 'https://cocl.us/Geospatial_data'
response = requests.get(url).text
print(response)

Postal Code,Latitude,Longitude
M1B,43.8066863,-79.1943534
M1C,43.7845351,-79.1604971
M1E,43.7635726,-79.1887115
M1G,43.7709921,-79.2169174
M1H,43.773136,-79.2394761
M1J,43.7447342,-79.2394761
M1K,43.7279292,-79.2620294
M1L,43.7111117,-79.2845772
M1M,43.716316,-79.2394761
M1N,43.692657,-79.2648481
M1P,43.7574096,-79.273304
M1R,43.7500715,-79.2958491
M1S,43.7942003,-79.2620294
M1T,43.7816375,-79.3043021
M1V,43.8152522,-79.2845772
M1W,43.7995252,-79.3183887
M1X,43.8361247,-79.2056361
M2H,43.8037622,-79.3634517
M2J,43.7785175,-79.3465557
M2K,43.7869473,-79.385975
M2L,43.7574902,-79.3747141
M2M,43.789053,-79.4084928
M2N,43.7701199,-79.4084928
M2P,43.7527583,-79.4000493
M2R,43.7827364,-79.4422593
M3A,43.7532586,-79.3296565
M3B,43.7459058,-79.352188
M3C,43.7258997,-79.340923
M3H,43.7543283,-79.4422593
M3J,43.7679803,-79.4872619
M3K,43.7374732,-79.4647633
M3L,43.7390146,-79.5069436
M3M,43.7284964,-79.4956974
M3N,43.7616313,-79.5209994
M4A,43.7258823,-79.3155716
M4B,43.7063972,-79.309937
M4C,43.6953439,-79.3183887
M4E,43.6763574,-79.2930312
M4G,43.7090604,-79.3634517
M4H,43.7053689,-79.3493719
M4J,43.685347,-79.3381065
M4K,43.6795571,-79.352188
M4L,43.6689985,-79.3155716
M4M,43.6595255,-79.340923
M4N,43.7280205,-79.3887901
M4P,43.7127511,-79.3901975
M4R,43.7153834,-79.4056784
M4S,43.7043244,-79.3887901
M4T,43.6895743,-79.3831599
M4V,43.6864123,-79.4000493
M4W,43.6795626,-79.3775294
M4X,43.667967,-79.3676753
M4Y,43.6658599,-79.3831599
M5A,43.6542599,-79.3606359
M5B,43.6571618,-79.3789371
M5C,43.6514939,-79.3754179
M5E,43.6447708,-79.3733064
M5G,43.6579524,-79.3873826
M5H,43.6505712,-79.3845675
M5J,43.6408157,-79.3817523
M5K,43.6471768,-79.3815764
M5L,43.6481985,-79.3798169
M5M,43.7332825,-79.4197497
M5N,43.7116948,-79.4169356
M5P,43.6969476,-79.4113072
M5R,43.6727097,-79.4056784
M5S,43.6626956,-79.4000493
M5T,43.6532057,-79.4000493
M5V,43.6289467,-79.3944199
M5W,43.6464352,-79.374846
M5X,43.6484292,-79.3822802
M6A,43.718518,-79.4647633
M6B,43.709577,-79.4450726
M6C,43.6937813,-79.4281914
M6E,43.6890256,-79.453512
M6G,43.669542,-79.4225637
M6H,43.6690051,-79.4422593
M6J,43.6479267,-79.4197497
M6K,43.6368472,-79.4281914
M6L,43.7137562,-79.4900738
M6M,43.6911158,-79.4760133
M6N,43.6731853,-79.4872619
M6P,43.6616083,-79.4647633
M6R,43.6489597,-79.456325
M6S,43.6515706,-79.4844499
M7A,43.6623015,-79.3894938
M7R,43.6369656,-79.615819
M7Y,43.6627439,-79.321558
M8V,43.6056466,-79.5013207
M8W,43.6024137,-79.5434841
M8X,43.6536536,-79.5069436
M8Y,43.6362579,-79.4985091
M8Z,43.6288408,-79.5209994
M9A,43.6678556,-79.5322424
M9B,43.6509432,-79.5547244
M9C,43.6435152,-79.5772008
M9L,43.7563033,-79.5659633
M9M,43.7247659,-79.5322424
M9N,43.706876,-79.5181884
M9P,43.696319,-79.5322424
M9R,43.6889054,-79.5547244
M9V,43.7394164,-79.5884369
M9W,43.7067483,-79.5940544

In [21]:
data = io.StringIO(response)

In [22]:
df = pd.read_csv(data)

In [23]:
df

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [24]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wiki_html = requests.get(url).text
soup = BeautifulSoup(wiki_html)
table = soup.find("table", attrs={"class":"wikitable sortable"})

# The first tr contains the field names.
headings = [th.get_text().strip() for th in table.find("tr").find_all("th")]

datasets = []
for row in table.find_all("tr")[1:]:
    dataset = dict(zip(headings, (td.get_text().strip() for td in row.find_all("td"))))
    datasets.append(dataset)

df1 = pd.DataFrame(data = datasets, columns = ['Postal Code', 'Borough', 'Neighborhood'])
df1 = df1[df1['Borough'] != 'Not assigned']
df1

,Postal Code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [28]:
df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [29]:
df1.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [50]:
df2 = pd.merge(df1, df, how='inner', on=None, left_on=None, right_on=None,
         left_index=False, right_index=False,
         suffixes=('_x', '_y'),indicator=False,
         validate=None)

In [53]:
df2

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999